<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aomtaoraidee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/logo_hms.png">
</head>

<body>
    <!--navbar-->
    <div class="navbar">
        <div class="logo">
            <img src="/static/logo_hms.png" alt="">
            <h1>Aomtaoraidee</h1>
        </div> 
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
<main>
    <!--headline-->
    <section class = "headline">
        <h1>ต้องออมเท่าไรต่อวัน</h1>
    </section>
    <section class = "main-content"> 
    <!--content-->
        <div class="boxing">
            <div class = "boxing1">
                <div class ="Amounttosave"> 
                    <h2>จำนวนเงินที่ต้องการออม :</h2>
            </div>
                <div class = "inputbox1">
            </div>
            <div class = "baht">
                <h2>บาท</h2>
            </div>
        </div>

        <div class = "boxing2">
            <div class = "Numberofdays">
                <h2>จำนวนวันที่ออมได้ :</h2>
            </div>
            <div class = "inputbox2">
            </div>
            <div class = "days">
                <h2>วัน</h2>
            </div>
        </div>
            <div class = "small-answerbox">
                <h2>ต้องออมวันละ ?บาท</h2>
            </div>
        </div>
    </section>
</main>
<!--footer-->
<footer>
    <div class="navbar_footer">
        <p>&copy; Copyright 2023</p>
        <a href="#"><img src="/static/logo_hms.png" alt=""></a>
        
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#"></a></li>
        </ul>
</div>
</footer>
</body>
</html>